@page
@model LoginModel

<link rel="stylesheet" href="~/css/input.css" type="text/css" />
<link rel="stylesheet" href="~/css/material-checkbox.css" type="text/css" />
<link rel="stylesheet" href="~/css/material-button.css" type="text/css" />
<link rel="stylesheet" href="~/css/social-circle-button.css" type="text/css" />
<link rel="stylesheet" href="~/css/alert.css" type="text/css" />

@{
	ViewData["Title"] = "Log in";
}

<div class="row" style="justify-content:center;">
	<div class="col-md-4">
		<section>
			<form id="account" method="post">
				<h2>Login to Shop</h2>
				<hr />
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form_div" style="margin-bottom:.5rem;">
					<input asp-for="Input.Email" class="form_input" id="email" placeholder=" " autocomplete="username" aria-required="true" autofocus />
					<label asp-for="Input.Email" for="" class="form_label"></label>
				</div>
				<div class="form_error_alert" id="email-alert"></div>

				<div class="form_div" style="margin-bottom:.5rem;">
					<input asp-for="Input.Password" class="form_input" id="password" placeholder=" " autocomplete="current-password" aria-required="true" />
					<label asp-for="Input.Password" for="" class="form_label"></label>
				</div>
				<div class="form_error_alert" id="password-alert"></div>
				<div>
					<div class="checkbox" style="margin-bottom:1rem;">
						<label asp-for="Input.RememberMe" class="material-checkbox">
							<input asp-for="Input.RememberMe">
							<span>@Html.DisplayNameFor(m => m.Input.RememberMe)</span>
						</label>
					</div>
				</div>
				<div style="display:flex;">
					<a id="forgot-password" asp-page="./ForgotPassword" class="material-btn-white material-btn-left" style="margin-left:-.5rem">Forgot your password?</a>
					<button id="login-submit" type="submit" class="material-btn-blue material-btn-right">Log in</button>
				</div>
			</form>
			@{
				if ((Model.ExternalLogins?.Count ?? 0) == 0)
				{
					<div>
						<p>
							There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
								article
								about setting up this ASP.NET application to support logging in via external services
							</a>.
						</p>
					</div>
				}
				else
				{
					<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
						<div style="display: flex;justify-content: center;align-items: center;margin-top:15px;">
							@foreach (var provider in Model.ExternalLogins)
							{
								if (provider.Name == "Facebook")
								{
									<button type="submit" class="social-circle-button facebook-button" name="provider" value="@provider.Name">
										<i class="fa-brands fa-facebook-f icon-size"></i>
									</button>
								}
								else if (provider.Name == "Google")
								{
									<button type="submit" class="social-circle-button google-button" name="provider" value="@provider.Name">
										<i class="fa-brands fa-google icon-size"></i>
									</button>
								}
							}
						</div>
					</form>
				}
			}
		</section>
	</div>
</div>
<head runat="server">
	<script src="~/js/VerifyLogin.js" type="text/javascript"></script>
</head>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
