$bg-color: #fff;

$blue: #1a73e8;
$blue-hover: #1b66ca;
$input-color: #72757a;
$border-color: #dadce0;

$white-text: #fff;
$white-text-hover: #174ea6;
$white-hover: #f6fafe;
$white-focus: #e4effc;

$red: #d93025;