@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.material-button {
  display: block;
  margin-left: auto;
  padding: 0.55rem 1.4rem;
  letter-spacing: 0.0107142857em;
  font-weight: 500;
  font-family: "Google Sans", "Roboto", "Arial", "sans-serif";
  outline: none;
  border: none;
  background-color: #1A73E8;
  color: #fff;
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.25s;
}

.material-button:hover {
  background-color: #1B66CA;
  box-shadow: 0 0 0.3em 0.075em rgba(0, 0, 0, 0.2);
}

.material-button:focus {
  outline: 0;
}
