:root {
    --onsurface-rgb: 0, 0, 0; /* gray */
    --primary-rgb: 26, 115, 232; /* blue */
    --primary-dark-rgb: 23, 78, 166; /* dark-blue */
    --svg-color: 255, 255, 255; /* svg color - white */
    --text-color: #202124
}

.material-checkbox {
    z-index: 0;
    position: relative;
    display: inline-block;
    color: var(--text-color);
    font-family: 'Roboto', 'Noto Sans Myanmar UI', 'arial', 'sans-serif';
    font-size: 16px;
    line-height: 1.5;
    user-select: none;
}

/* Input */
.material-checkbox > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(var(--onsurface-rgb, 0, 0, 0), 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.material-checkbox > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

/* Box */
.material-checkbox > span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 18px 3px 1px;
    border: solid 2px; /* Safari */
    border-color: rgba(var(--onsurface-rgb, 0, 0, 0), 0.6);
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.material-checkbox > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 2px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.material-checkbox > input:checked,
.material-checkbox > input:indeterminate {
    background-color: rgb(var(--primary-rgb, 33, 150, 243));
}

.material-checkbox > input:checked + span::before,
.material-checkbox > input:indeterminate + span::before {
    border-color: rgb(var(--primary-rgb, 33, 150, 243));
    background-color: rgb(var(--primary-rgb, 33, 150, 243));
}

.material-checkbox:hover > input:checked + span::before,
.material-checkbox:hover > input:indeterminate + span::before {
    /*border-color: rgb(var(--primary-dark-rgb, 33, 150, 243));*/
    /*background-color: rgb(var(--primary-dark-rgb, 33, 150, 243));*/

    /* Disable dimming on hover */
    border-color: rgb(var(--primary-rgb, 33, 150, 243));
}

.material-checkbox > input:checked + span::after,
.material-checkbox > input:indeterminate + span::after {
    border-color: rgb(var(--svg-color, 255, 255, 255));
}

.material-checkbox > input:indeterminate + span::after {
    border-left: none;
    transform: translate(4px, 3px);
}

/* Hover, Focus */
.material-checkbox:hover > input + span::before {
    border-color: var(--text-color);
}

.material-checkbox > input:focus {
    opacity: 0.12;
}

.material-checkbox:hover > input:focus {
    opacity: 0.16;
}

/* Active */
.material-checkbox > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.material-checkbox > input:active + span::before {
    border-color: rgb(var(--primary-rgb, 33, 150, 243));
}

.material-checkbox > input:checked:active + span::before {
    border-color: transparent;
    background-color: rgba(var(--onsurface-rgb, 0, 0, 0), 0.6);
}

/* Disabled */
.material-checkbox > input:disabled {
    opacity: 0;
}

.material-checkbox > input:disabled + span {
    color: rgba(var(--onsurface-rgb, 0, 0, 0), 0.38);
    cursor: initial;
}

.material-checkbox > input:disabled + span::before {
    border-color: currentColor;
}

.material-checkbox > input:checked:disabled + span::before,
.material-checkbox > input:indeterminate:disabled + span::before {
    border-color: transparent;
    background-color: currentColor;
}
