@import "colors.scss";

/*--------------------------*/
/*        BASE BUTTON       */
/*--------------------------*/
@mixin material-btn-base {
    display: block;
    padding: .45rem 1.5rem;
    /* Font */
    font-family: 'Google Sans','Roboto','Arial','sans-serif';
    -webkit-font-smoothing: antialiased;
    letter-spacing: .0107142857em;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    font-size: .9rem;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: .3rem;
    cursor: pointer;
    transition: .25s;
    user-select: none;
    -webkit-user-drag: none;
}

.material-btn-right {
    margin-left: auto;
}

.material-btn-left {
    margin-right: auto;
}

.material-btn-top {
    margin-bottom: auto;
}

.material-btn-bottom {
    margin-top: auto;
}

/*--------------------------*/
/*      IMPLEMENTATION      */
/*--------------------------*/

/* Blue button */
.material-btn-blue {
    @include material-btn-base;
    background-color: $blue;
    text-decoration: none;
    color: $white-text;
}

.material-btn-blue:hover {
    text-decoration: none;
    background-color: $blue-hover;
    box-shadow: 0 0 0.3em .075em rgba(0,0,0,.2);
}

.material-btn-blue:focus {
    background-color: $blue-hover;
    outline: 0;
}

/* White button */
.material-btn-white {
    @include material-btn-base;
    color: $blue;
    background-color: transparent;
    text-decoration: none;
    padding: .45rem .5rem;
}

.material-btn-white:hover {
    text-decoration: none;
    color: $white-text-hover;
    background-color: $white-hover;
}

.material-btn-white:active {
    outline: 0;
    color: $white-text-hover;
    background-color: $white-focus;
}

.material-btn-white:focus {
    outline: 0;
}
