/*--------------------------*/
/*        BASE BUTTON       */
/*--------------------------*/
.material-btn-right {
  margin-left: auto;
}

.material-btn-left {
  margin-right: auto;
}

.material-btn-top {
  margin-bottom: auto;
}

.material-btn-bottom {
  margin-top: auto;
}

/*--------------------------*/
/*      IMPLEMENTATION      */
/*--------------------------*/
/* Blue button */
.material-btn-blue {
  display: block;
  padding: 0.45rem 1.5rem;
  /* Font */
  font-family: "Google Sans", "Roboto", "Arial", "sans-serif";
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.0107142857em;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.25s;
  user-select: none;
  -webkit-user-drag: none;
  background-color: #1a73e8;
  text-decoration: none;
  color: #fff;
}

.material-btn-blue:hover {
  text-decoration: none;
  background-color: #1b66ca;
  box-shadow: 0 0 0.3em 0.075em rgba(0, 0, 0, 0.2);
}

.material-btn-blue:focus {
  background-color: #1b66ca;
  outline: 0;
}

/* White button */
.material-btn-white {
  display: block;
  padding: 0.45rem 1.5rem;
  /* Font */
  font-family: "Google Sans", "Roboto", "Arial", "sans-serif";
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.0107142857em;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.25s;
  user-select: none;
  -webkit-user-drag: none;
  color: #1a73e8;
  background-color: transparent;
  text-decoration: none;
  padding: 0.45rem 0.5rem;
}

.material-btn-white:hover {
  text-decoration: none;
  color: #174ea6;
  background-color: #f6fafe;
}

.material-btn-white:active {
  outline: 0;
  color: #174ea6;
  background-color: #e4effc;
}

.material-btn-white:focus {
  outline: 0;
}
